<h2>Book detail</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th><% if @book.profile_image.attached? %></th>
      <th><%= f.label :title %></th>
      <th><%= f.label :opinion %></th>
      <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
      <th> <% if @book.user == current_user %><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
      </th>
    </tr>
  </thead>
</table>

 <%= link_to 'New book', new_book_path %>